@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --header-height: 4.5rem;

    /*=============== COLOR ===============*/
    --hue:250;
    --hue-t: 0;
    --first-color-alt: hsl(var(--hue-t), 88%, 61%);
    --first-color: hsl(var(--hue), 100%, 58%);
    --title-color: hsl(var(--hue), 8%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(250, 60%, 98%);
    --border-color: hsl(var(--hue), 8%, 80%);
    --container-color: hsl(var(--hue), 60%, 97%);

    /*=============== FONT AND TYPOGRAPHY ===============*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: 'Hind', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*=============== FONT WEIGHT ===============*/

     --font-medium:500;
     --font-semibold:600;
     --font-bold:700;
    /*=============== Z index ===============*/

    --z-tooltip: 10;
    --z-fixed: 100; 

}

/* Responsive typography */

@media screen and (max-width: 992px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: black;
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

/*=================REUSABLE CSS CLASSES ==============*/
.section {
    padding: 7rem 0 2rem;
}

.section__title,
.breadcrumb__title {
    font-size: var(--h1-font-size);
}

.section__title,
.breadcrumb__subtitle {
    margin-bottom: var(--mb-3);
}

.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
    text-align: center;
}

.section__title, .section__subtitle {
    color: #fff;
}
/*============= Layout =============*/



.grid {
    display: grid;
}


/*============== HEADER SECTION =============*/
.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/*====================== NAV ==============*/

.nav-bar {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    align-items: center;
    padding-left: 2rem;
    column-gap: 5rem;
}

.nav-bar img {
    width: 50px;
    border-radius: 50px;
    margin-right: -70px;
}

.nav__logo {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--first-color);
}

.nav__close,
.nav__toggle {
    display: none;
}

.nav__list{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav__btns {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0676d1;
}

.nav__link {
    color: #fff;
}

.dropdown-menu {
    position: absolute;
    background-color: #0676d1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 10px;
    visibility: hidden;
    transition: .5s;
}

.menu-show {
    visibility: visible;
}

.dropdown-menu a {
    color: #fff;
}


/*================ HOME ===============*/

.home {
    position: relative;
    min-height: 968px;
    background: linear-gradient(rgba(0,0,0,0.5),#0676d1), url(../image/w1.jpg) center/cover no-repeat;;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    padding: 18rem 0 2rem;
    
}

.home::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 3, 32, .66);
    z-index: -1;
}

.home__data {
    max-width: 650px;
    margin-left: 1.5rem;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: #ffb352;
    margin-bottom: 1rem;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: #fff;
    line-height: 109%;
    margin-bottom: 1.5rem;
}

.home__description {
    font-size: var(--h3-font-size);
    color: hsl(var(--hue), 8%, 75%);
    color: #fff;
    padding-right: 2.8rem;
    margin-bottom: 2.5rem;
}

/*================ MISSION =================*/

.mission{
    width: 100%;
    padding: 100px 0 0 0;
    background: url(../image/service.jpg);
}
.titre-text{
    padding-bottom: 40px;
    text-align: center;
}
.titre-text p{
    margin: auto;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.titre-text h1{
    font-size: 50px;
    color: #fff;
}
.mission_boite{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
}
.missions{
    flex-basis: 50%;
}
.img-mission{
    background:linear-gradient(rgba(0,0,0,0.5),#0676d1), url(../image/w2.jpg) center/cover no-repeat;
    /*background: url(./image/Banniere2.jpg);*/
    height: 750px;
    flex-basis: 35%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.missions h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #0676d1;
}
.description{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}
.mission_icone i {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #eee;
}
.mission-text p {
    text-align: initial;
    padding: 0 20px;
    color: #fff;
}

.appel {
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    margin-left: 2rem;
}

.apel {
    border-right: 2px solid #fff;
    align-items: center;
    margin-right: 3px;
}

/*================ PRODUIT ==================*/

.button {
   display: inline-block;
   background-color: var(--first-color-alt);
   color: #fff;
   padding: 1rem 1.75rem;
   border-radius: .5rem;
   font-weight: var(--font-medium);
   transition: .3s;
}

.button:hover {
    background: var(--first-color);
}

.button__icon {
    font-size: 1.25rem;
}

.button--link {
    color: var(--title-color);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

/*================= Contact ==============*/

.contacte {
    text-align: center;
}


.contact h1 {
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}




.contact {
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.5),#0676d1), url(../image/contacte.jpg) center/cover no-repeat;
    padding: 40px 0 20px;
    width: 100%;
    height: 100%;
}

.contacts p {
    color: #fff;
    margin-bottom: 15px;
}

.contacts  a {
    color: #fff;
}
/*======================= A propos ======================*/
.apropos {
    height: 100%;
    width: 100%;
    background: url(../image/apropos.jpg) center/cover no-repeat;
    padding-top: 7rem;

    
}

.apropos .entete h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.apropos_detail {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0 1rem;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.apropos_detail .premier  {
    display: flex;
    column-gap: 2rem;
}

.apropos_detail .premier img {
    width: 50%;
    
}

.apropos_detail .deuxieme img {
    width: 50%;
}

.apropos_detail .deuxieme {
    display: flex;
    column-gap: 2rem;
}

.apropos_detail h3 {
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
}

.apropos_detail p {
    color: black;
}

.social {
    margin: 1rem 0;
    align-items: center;
    margin-bottom: 4rem;
}

.social i {
    font-size: 30px;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 4rem;
    align-self: center;
}

.social .face {
    color: #0676d1;
}

.social .tik, .call {
    color: black;
}

.social .what {
    color: green;
}


/*==================== FOOTER ================*/

.footer {
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: #0676d1;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy .reseaux {
    display: flex;    
}

.copy .footer__copy {
    font-weight: bold;
    color: #fff;
    margin-right: 8px;
}

.reseaux__item i {
    color: #0676d1;
    
}

.reseaux__item .r__icon {
    padding: 3px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px;
}

/*===================== SCROLL HEADER ================*/
.scroll-header {
    background-color: #0676d1;
    box-shadow: 0 1px 4px var (--shadow);
}

.scroll-header .nav__logo {
    color: #fff;
    text-transform: capitalize;
}

@media screen and (max-width: 887px) {
    

    .apropos_detail {
        flex-direction: column;
        row-gap: 2rem;
    }

    .nav__menu {
        position: fixed;
        background-color: #0676d1;
        top: -100%;
        width: 100%;
        margin: 0;
        border-radius: 5px;
        padding: 4rem 2rem 3.5rem;
        transition: .5s;
    }

    .show-menu {
        top: 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        text-align: start;
    }

    .nav__close,
    .nav__toggle {
        display: block;
        font-size: 2rem;
    }

    .nav__toggle {
        position: absolute;
        right: 1.5rem;
    }

    .nav__close {
        position: absolute;
        top: .5rem;
        right: 5rem;
        color: #fff;
        cursor: pointer;
    }
}

@media screen and (max-width: 753px) {

    .img-mission {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 670px) {
    .img-mission {
        flex-basis: 50%;
    }    

    .apropos_detail .premier,
    .apropos_detail .deuxieme {
        flex-direction: column;
        row-gap: 1rem;
    }

    .apropos_detail .premier img,
    .apropos_detail .deuxieme img {
        align-self: center;
    }

     

    .mission_boite {
        width: 90%;
    }
}

@media screen and (max-width: 602px) {
    .mission_boite {
        flex-direction: column;
    }
}

@media screen and (max-width: 490px) {
    .contacts {
        margin-left: .1rem;
    }

    

    .nav__logo {
        font-size: 1.1rem;
    }

    .course__price {
        font-size: 10px;
    }

    .course__discount {
        font-size: 15px;
    }

    .course__more {
        padding-left: .5rem;
    }

    .course__button a {
        font-size: 12px;
    }

    .copy {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media screen and (max-width:442px) {
    .social {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 338px) {    

    .nav__logo {
        font-size: 1rem;
    }

    .nav-bar {
        padding-left: .5rem;
    }

    .nav__close {
        right: 2rem;
    }
}
